{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}

<div class ="card">
    <div class="card-header">
        Listar Libros
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Imagen</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Django con Python</td>
                <td>Imagen.jpg</td>
                <td>Libros que habla sobre el framework</td>
                <td>Editar ׀ Borrar</td>

            </tr>
            <tr>
                <td>2</td>
                <td>Los medicamentos y medicina</td>
                <td>medicamentos.jpg</td>
                <td>Cuales medicamentos y marcas mas famosas </td>
                <td>Editar ׀ Borrar</td>
                
            </tr>
        </tbody>
    </table>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>

{% endblock %}